<mat-toolbar class="toolbar-container">
  <button mat-button routerLink="/admin/users" routerLinkActive="active">Usuarios</button>
  <button mat-button routerLink="/admin/roles" routerLinkActive="active">Roles</button>
  <button mat-button routerLink="/admin/permisos" routerLinkActive="active">Permisos</button>
  <button mat-button routerLink="/admin/aplicaciones" routerLinkActive="active">Aplicaciones</button>
</mat-toolbar>
<div class="container position-absolute">
  <router-outlet></router-outlet>
</div>

