<div class="dialog-container">
<h1 mat-dialog-title class="fa fa-trash-o icon-title-center" aria-label="borrar"></h1>
<h1 mat-dialog-title class="title-center">Desea eliminar el Sistema?</h1>
<div mat-dialog-content class="title-center">
  El sistema seleccionado será eliminado
</div>
<div mat-dialog-actions class="title-center-content">
  <button mat-button class="dialog-button" (click)="onNoClick()">No</button>
  <button mat-button class="dialog-button" (click)="onDelete()" cdkFocusInitial>Si</button>
</div>
</div>
