<mat-toolbar class="toolbar">
  <img class="image-globalIam" alt="Global IAM Logo" src="assets/images/globalIAMLogo.png">
  <span aria-label="Global IAM">Global IAM</span>
  <span class="example-spacer"></span>
  <button mat-button class="button-mat" aria-label="Contáctenos">
    Contáctenos
  </button>
  <button mat-button aria-label="Iniciar sesion" class="button-mat" routerLink="../security/login">
    Iniciar Sesión
  </button>
</mat-toolbar>
<div class="box">
  <div class="global-info">
    <h1 class="detail-info-title">Software para gestión de identidad y accesos</h1>
    <h3 class="detail-info"> Proporciona una gestión eficiente y segura de los recursos digitales al asignar roles y permisos adecuados a los usuarios.</h3>
  </div>
  <div>
    <img class="globalIam-image" alt="Seguridad de acceso a sistemas" src="assets/images/InitialGlobalIamImage2.svg">
  </div>
  <div class="card-container">
    <mat-card class="example-card p-2">
      <mat-card-header style="background: darkslategray">
        <mat-card-title class="text-center pt-3">
          <span class="fa fa-lock" aria-label="acceso de usuarios"></span>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="text-center h4 pt-3">
        Al limitar el acceso no autorizado y controlar quién puede acceder a qué recursos, se mejora la seguridad de la información.
      </mat-card-content>
    </mat-card>
    <mat-card class="example-card p-2">
      <mat-card-header style="background: #267693">
        <mat-card-title  class="text-center pt-3">
          <span class="fa fa-line-chart" aria-label="Auditoria y trazabilidad"></span>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="text-center h4 pt-3">Facilita la auditoría y trazabilidad de las actividades realizadas
        por los usuarios en los diferentes sistemas.</mat-card-content>
    </mat-card>
    <mat-card class="example-card p-2">
      <mat-card-header style="background: #ffae5a">
        <mat-card-title  class="text-center pt-3">
          <span class="fa fa-globe" aria-label="administracion global"></span>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="text-center h4 pt-3">Simplifica la administración de usuarios, permite la personalización
        de permisos según las necesidades de cada rol.</mat-card-content>
    </mat-card>
  </div>
</div>
<div class="card-footer text-muted text-center footer-with-svg">
  <div class="svg-background"></div>
</div>

