<mat-toolbar class="toolbar">
  <img class="image-globalIam" alt="Global IAM Logo" src="assets/images/globalIAMLogo.png">
  <span aria-label="Global IAM">Global IAM</span>
  <span class="example-spacer"></span>
  <button mat-button class="button-mat" aria-label="Contactenos">
    Contactenos
  </button>
  <button mat-button aria-label="Iniciar sesion" class="button-mat" routerLink="../security/login">
    Iniciar Sesión
  </button>
</mat-toolbar>
<div class="box">
  <div class="global-info">
    <h1 class="detail-info-title">Software para gestión de identidad y accesos</h1>
    <h3 class="detail-info"> Proporciona una gestión eficiente y segura de los recursos digitales al asignar roles y
      permisos adecuados a los usuarios. Al limitar el acceso no autorizado y controlar quién puede acceder a qué
      recursos, se mejora la seguridad de la información y se protege la privacidad de los usuarios y clientes. Además,
      la solución simplifica la administración de usuarios, permite la personalización de permisos según las necesidades
      de cada rol y facilita la auditoría y trazabilidad de las actividades.</h3>
  </div>
  <div>
    <img class="globalIam-image" alt="Seguridad de acceso a sistemas" src="assets/images/InitalGlobalIamImage.jpeg">
  </div>
</div>
<div class="card-footer text-muted text-center footer-with-svg">
  <div class="svg-background"></div>
</div>

