.toolbar {
  background: mediumseagreen;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
  gap: 1rem;
}
.example-card {
  width: 350px;
  height: 250px;
  margin: 10px;
  border: 2px solid gray;
}
.image-globalIam {
  width: 60px;
  margin-right: 20px;
  margin-left: 20px;
}
.mat-card-header{
  justify-content: space-around;
  .mat-card-header-text {
    color: white;
    width: 80px;
    .fa {
      font-size: 35px;
    }
  }
}
.button-mat {
  background: darkslategray;
  margin-right: 10px;
}
.card-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #d9cbcb14;
  padding: 40px;
}
.footer-with-svg{
  position: relative;
  min-height: 100%;
  background-image: url('/assets/images/footer.svg'); 
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}
.box {
  padding-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: #E5E5E5;
  bottom: 0;
  top:63px;
}
@media screen  and (max-width: 480px) {
    .box{
      grid-template-columns: 1fr;
    }
}
@media screen  and (max-width: 1300px) {
    .box{
      grid-template-columns: 1fr;
      justify-items: center;
    }
}

.globalIam-image {
  width: 900px;
  height: 600px;
  margin-right: 20px;
  margin-left: 20px;
}

.global-info {
  margin-left: 20px;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media screen  and (max-width: 780px) {
  .card-container{
    flex-direction: column;
    align-items: center;
  }
}
.detail-info-title {
  margin-top: 50px;
  font-size: 66px;
  text-align: end;
}
.detail-info {
  margin-top: 50px;
  text-align: end;
}
@media screen  and (max-width: 780px) {
  .detail-info-title {
    text-align: center;
  }
  .detail-info {
    text-align: center;
    font-size: 30px;
    margin: 2rem;
  }
}
@media screen  and (max-width: 1300px) {
  .detail-info-title {
    text-align: center;
  }
  .detail-info {
    text-align: center;
    font-size: 30px;
    margin: 2rem;
  }
}

.home-page{
display: grid;
grid-template-columns: 1fr;
}

@media screen  and (max-width: 768px) {
  .home-page {
    grid-template-columns: 0.5fr;
  }
}
