<div>
  <h1 style="color: darkslategray; margin-bottom: 2.5rem">Administración de Permisos</h1>
  <h3 style="color: darkslategray; margin-bottom: 2.5rem">Los permisos son un conjunto de políticas que especifican qué
    acciones pueden realizar los usuarios, grupos y roles en los recursos del aplicativo. Estas políticas definen el
    nivel de acceso y control que tienen los usuarios.</h3>
</div>
<table mat-table [dataSource]="permisos$ | async" class="mat-elevation-z8">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Nombre del Permiso</th>
    <td mat-cell *matCellDef="let permiso"> {{permiso.name}} </td>
  </ng-container>
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef> Descripción del Permiso </th>
    <td mat-cell *matCellDef="let permiso"> {{permiso.description}} </td>
  </ng-container>
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef> Estado </th>
    <td mat-cell *matCellDef="let permiso"> {{permiso.status}} </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="permisosColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: permisosColumns;"></tr>
</table>
