<div>
  <h1 style="color: darkslategray; margin-bottom: 2.5rem">Administración de Sistemas</h1>
  <h3 style="color: darkslategray; margin-bottom: 2.5rem">Hay varios software que se integran a la solución de Gestión
    de Identidad. En está sección se podrán ingresar todas las aplicaciones a las que se desea integrar.</h3>
</div>
<table mat-table [dataSource]="aplicaciones$ | async" class="mat-elevation-z8">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Nombre del Sistema</th>
    <td mat-cell *matCellDef="let aplicacion"> {{aplicacion.name}} </td>
  </ng-container>
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef> Descripción del Sistema</th>
    <td mat-cell *matCellDef="let aplicacion"> {{aplicacion.description}} </td>
  </ng-container>
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef> Estado </th>
    <td mat-cell *matCellDef="let aplicacion"> {{getEstado(aplicacion)}} </td>
  </ng-container>
  <ng-container matColumnDef="roles">
    <th mat-header-cell *matHeaderCellDef> Roles </th>
    <td mat-cell *matCellDef="let aplicacion"> {{aplicacion.roles}} </td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let aplicacion">
      <button mat-raised-button class="table-buttons" (click)="openDialog(aplicacion)"><i aria-label="Borrar Sistema" class="fa fa-trash-o"></i></button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="aplicacionesColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: aplicacionesColumns;"></tr>
</table>
