table {
  width: 100%;
  background: white;
  border: 2px solid gray;
  .mat-header-cell {
    color: black;
  }
  .mat-cell{
    color: black;
    padding-left: 10px;
  }
}

.table-buttons {
  background: white;
  color: black;
  font-size: 18px;
  margin-right: 10px;
}

.table-buttons:hover {
  background: grey;
}

.table-buttons:focus {
  background: mediumseagreen;
}

