<div class="p-4">
  <div class="container">
    <h1>Hi {{user?.firstName}}!</h1>
    <p>You're logged in with Angular 14!!</p>
    <div class="banner"></div>
    <div class=" d-flex flex-row">
      <mat-card class="example-card p-2">
        <mat-card-header>
          <mat-card-title>Mis Peticiones</mat-card-title>
        </mat-card-header>
        <mat-card-content class="text-center h3 pt-5">16</mat-card-content>
      </mat-card>
      <mat-card class="example-card p-2">
        <mat-card-header>
          <mat-card-title>Mis Aprobaciones</mat-card-title>
        </mat-card-header>
        <mat-card-content class="text-center h3 pt-5">43</mat-card-content>
      </mat-card>
      <mat-card class="example-card p-2">
        <mat-card-header>
          <mat-card-title>Mis Accesos</mat-card-title>
        </mat-card-header>
        <mat-card-content class="text-center h3 pt-5">64</mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
