<div class="p-4">
  <div class="container">
    <mat-card class="card-style">
      <mat-card-content class="content1">
        <div class="sub-content1">
          <h1>Bienvenido {{user?.firstName}}!</h1>
          <button mat-raised-button class="crear-button">Crear nueva solicitud</button>
        </div>
      </mat-card-content>
      <mat-card-content class="content1" >
        <div>
          <img class="image-position" src="assets/images/user-dash.svg">
        </div>
      </mat-card-content>
    </mat-card>
    <div class="d-flex flex-row justify-content-evenly secondary-cards">
      <mat-card class="example-card p-2">
        <mat-card-header>
          <mat-card-title>Mis Peticiones</mat-card-title>
        </mat-card-header>
        <mat-card-content class="text-center h3 pt-5">16</mat-card-content>
      </mat-card>
      <mat-card class="example-card p-2">
        <mat-card-header>
          <mat-card-title>Mis Aprobaciones</mat-card-title>
        </mat-card-header>
        <mat-card-content class="text-center h3 pt-5">43</mat-card-content>
      </mat-card>
      <mat-card class="example-card p-2">
        <mat-card-header>
          <mat-card-title>Mis Accesos</mat-card-title>
        </mat-card-header>
        <mat-card-content class="text-center h3 pt-5">64</mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
